body{
    margin: 0px;
    background-color: #212121;
}

#navbar{
    background-color: #343544;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

#logo{
    height: 100%;
}

h1, h2{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    color: #DBE0F0;
    font-size: 18px;
}
h1{
    font-weight: 600;
    margin-right: 5px;
}

h2{
    font-weight: 400;
}

#leveldetails{
    height: 25px;
    background-color: #343544;
    display: inline-block;
    padding: 1vmax;
    border-radius: 7.5px 7.5px 0px 0px;
}

#gamearea{
    height: 65vh;
    width: 90vw;
    background-color: #343544;
    border-radius: 0px 7.5px 0px 0px;
    font-family: 'Source Code Pro', monospace;
    padding: 1vmax;
    color: #DBE0F0;
    overflow: scroll;
    overflow-x: hidden;
}

#terminal{
    padding-left: 4vw;
    padding-right: 4vw;
}

.error{
    color: rgb(189, 62, 62);
    font-weight: 600;
}

#input{
    display: block;
    width: 90vw;
    padding: 1vmax;
    padding-top: 0px;
    background-color: #343544;
    color: #DBE0F0;
    border: none;
    border-radius: 0px 0px 7.5px 7.5px;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

::-webkit-scrollbar-track
{
    border-radius: 0px 7.5px 0px 0px;
	background-color: #48495B;
}

::-webkit-scrollbar
{
    width: 25px;
    border-radius: 0px 7.5px 0px 0px;
	background-color: #48495B;
}

::-webkit-scrollbar-thumb
{
    border-radius: 7.5px;
	background-color: rgba(196, 196, 196, 0.25);
}

*:focus{
    outline: none;
}

img{
    display: block;
}

a{
    color: #DBE0F0;
}